[submodule "pack/plugins/start/bufexplorer"]
	path = pack/plugins/start/bufexplorer
	url = https://github.com/jlanzarotta/bufexplorer
[submodule "pack/plugins/start/tagbar"]
	path = pack/plugins/start/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "pack/plugins/start/vim-commentary"]
	path = pack/plugins/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "pack/plugins/start/vim-surround"]
	path = pack/plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "pack/plugins/start/vim-unimpaired"]
	path = pack/plugins/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule "pack/plugins/start/vim-log-syntax"]
	path = pack/plugins/start/vim-log-syntax
	url = https://github.com/dzeban/vim-log-syntax
[submodule "pack/plugins/start/vim-sensible"]
	path = pack/plugins/start/vim-sensible
	url = https://github.com/tpope/vim-sensible
[submodule "pack/plugins/start/vim-fugitive"]
	path = pack/plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "pack/plugins/start/vim-repeat"]
	path = pack/plugins/start/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "pack/plugins/start/asyncrun"]
	path = pack/plugins/start/asyncrun
	url = https://github.com/skywind3000/asyncrun.vim.git
[submodule "pack/plugins/start/vim-flake8"]
	path = pack/plugins/start/vim-flake8
	url = https://github.com/nvie/vim-flake8.git
[submodule "pack/plugins/start/tpope-vim-abolish"]
	path = pack/plugins/start/tpope-vim-abolish
	url = https://github.com/tpope/vim-abolish.git
